@(user:User,rooms:Seq[Room])(implicit request: RequestHeader)

@main(Some(user),null) {
    <div class="col-md-8">

        <div id="room_main" class=" panel panel-primary">
            <div class="panel-heading">
                <h3>Room List <button type="button" class="btn btn-danger btn-join btn-sm"  data-toggle="modal" data-target="#modal_makeroom">New Room</button></h3>
            </div>
            <div class="panel-body">
                <table id="tbl_room"  class="table table-bordered">
                    <thead>
                        <th>No</th>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>User</th>
                        <th>Action</th>
                    </thead>
                    <tbody id="tbl_room_list">
                        @views.html.roomlist(rooms)
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-danger"  id="profile_main">
            <div class="panel-heading">
                <h3>My Profile</h3>
            </div>
            <div class="panel-body" id="my_profile">
                @views.html.profile(user)
            </div>
        </div>
    </div>
    <form action="@routes.Application.gameRoom(user.token,0)" class="pull-right" id="form2" style="display: none;">
        <input id="token" name="token" value="@user.token" class="input-small" type="text" placeholder="Username">
        <input id="seq_room" name="seq_room" value="" class="input-small" type="text" placeholder="Username">
        <button class="btn" type="submit">Sign in</button>
    </form>

    <script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(user.token)"></script>

    <script>

        $(document ).ready(function() {
            $('#btn-join-room' ).click(function(e){
                $('#form2 input[name=seq_room]' ).val($(this ).data('roomSeq'));
                $('#form2' ).submit();
            });

        });
    </script>
}
