@(user:User,rooms:Seq[Room],users:Seq[User])(implicit request: RequestHeader)

@main(Some(user),null,1) {
    <div class="jumbotron">
        <h1>Welcome to NGX VolleyBall</h1>
        <p>our game is world's only remote controlling volley ball game.</p>
    </div>
    <div class="col-md-12">

        <div id="room_main" class=" panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Room List</h3>
            </div>
            <div class="panel-body">
                <table id="tbl_room"  class="table table-bordered datatable">
                    <thead>
                        <th>No</th>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>Score</th>
                        <th>User</th>
                        <th>Action</th>
                    </thead>
                    <tbody id="tbl_room_list">
                        @views.html.roomlist(rooms)
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div id="room_main" class=" panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User List</h3>
            </div>
            <div class="panel-body">
        <div class="row">
            @users.map{ user =>
                @views.html.room_players(user)
            }
        </div>
                </div></div>

    </div>
    <form action="@routes.Application.gameRoom(user.token,0)" class="pull-right" id="form2">
        <input id="token" name="token" value="@user.token" class="input-small" type="hidden" placeholder="Username">
        <input id="seq_room" name="seq_room" value="" class="input-small" type="hidden" placeholder="Username">
    </form>



    <script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(user.token)"></script>

    <script>

        $(document ).ready(function() {
            $('#btn-join-room' ).click(function(e){
                $('#form2 input[name=seq_room]' ).val($(this ).data('roomSeq'));
                $('#form2' ).submit();
            });

            $('.datatable').dataTable();

        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="modal_makeroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Create New Room</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">Title</span>
                        <input type="text" id="mkroom_title" class="form-control" placeholder="input room's title">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Max Score</span>
                        <input type="text" id="mkroom_score" class="form-control" placeholder="20, 35, 40...">
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-make-room">New</button>
                </div>
            </div>
        </div>
    </div>
}
