@()(implicit flash: Flash)

@main(null,null,0) {

    @flash.get("error").map { errorMessage =>

        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @errorMessage
            </p>
        </div>

    }

    <div class="alert-message block-message info">
        <p>
            <strong>This is the NGX Facebook Remote Volley Ball application!</strong>
            To start, sign in your facebook account using the top right form.
        </p>
    </div>

}