@(user: Option[User],room:Option[Room])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>FACEBOOK REMOTE VOLLEY BALL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->


        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

            <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

            <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        <script type="text/javascript" src="//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.1.0.min.js"></script>

    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            var myInfo;
            var myProfile_url;
            var friendList;

            @if(user == null){

            $(document ).ready(function() {
                $.ajaxSetup({ cache: true });
                $.getScript('//connect.facebook.net/en_UK/all.js', function(){
                    FB.init({
                        appId      : '236220253168811',
                        cookie     : true,  // enable cookies to allow the server to access
                        // the session
                        xfbml      : true,  // parse social plugins on this page
                        version    : 'v2.0' // use version 2.0
                    });

                    //$('#loginbutton,#feedbutton').removeAttr('disabled');
                    FB.getLoginStatus( $.statusChangeCallback);
                });

            $.statusChangeCallback = function(response){
                console.log('statusChangeCallback');
                console.log(response);
                if (response.status === 'connected') {

                    $.addMe(response);
                    //drawGame();

                    // 1. Get My Profile

                    // 2. Get Friend List
                } else if (response.status === 'not_authorized') {
                    $('.div-msg #msg' ).html('Please login using Facebook login button.');
                    $('.div-msg' ).fadeIn();
                } else {
                    $('.div-msg #msg' ).html('Please login using Facebook login button.');
                    $('.div-msg' ).fadeIn();
                }
            }

            $.checkLoginStatus = function() {
                FB.getLoginStatus(function(response) {
                    $.statusChangeCallback(response);
                });
            }

            $.addMe = function(e) {

                FB.api('/me', function(response) {
                $('#display_progress .progress-bar' ).css('width','30%');
                    $("#login_status_msg" ).html(response.name+"님 환영합니다.");
                    $("#fbBtn" ).hide();
                    myInfo = response;
                $.setUserStatusByToken("1");
                    FB.api(
                        'me?fields=picture.width(160).height(160).type(square)',
                        function(response2) {
                            console.log(response2);
                        $('#display_progress .progress-bar' ).css('width','45%');
                            myProfile_url = response2.picture.data.url;
                            $.ajax(
                                jsRoutes.controllers.User.addUser(
                                    response.name,
                                    response.email,
                                    response2.picture.data.url,
                                    response2.id
                                )
                            ).done(function(data){
                                console.log(data.code);
                            $('#display_progress .progress-bar' ).css('width','100%');
                            $('#form1 input[id=token]' ).val(response.id);
                            $('#form1' ).submit();

                            } ).fail(function(e){
                                console.log(e);
                            })
                        });



                });
            }

            $.getRooms = function() {
                $.ajax(
                    jsRoutes.controllers.Room.getRooms()
                    ).done(function(data){
                        console.log(data);
                        $('#tbl_room_list' ).append(data);
                        $('#display_progress .progress-bar' ).css('width','100%');
                        $('#display_progress' ).hide();
                        $('#room_main' ).fadeIn();
                        $('#btn-join-room' ).click(function(e){
                            //$.setUserProfile(myInfo.id,'game_my_profile');
                            $.setPlayersProfile($(this ).data('roomSeq'));
                            $.setUserStatusByToken("2");
                            $.setUserCurrentRoom($(this ).data('roomSeq'));
                            var title = "["+$(this ).data('roomSeq')+"] "+$(this ).data('roomTitle')
                            $('#room_title' ).html(title);


                            $('#display_room' ).fadeOut(500,function() {

                                $('#display_game' ).fadeIn(500, function() {

                                });
                            });

                        $('#btn-exit-room' ).click(function(){
                            if(confirm("Do you really want to exit game?")){
                                $.setUserStatusByToken("1");
                                $.setUserCurrentRoom("0");
                                $('#display_game' ).fadeOut(500,function() {
                                    $('#display_room' ).fadeIn();
                                });
                            }

                        });


                        });

                    }).fail(function(e){
                        console.log(e);
                });

            }

            $.setUserStatusByToken = function(status){
                $.ajax(
                    jsRoutes.controllers.User.setUserStatusByToken(status,myInfo.id)
                ).done(function(data){
                    console.log(data);
                }).fail(function(e){
                    console.log(e);
                });
            }

            $.setUserCurrentRoom = function(seq){
                $.ajax(
                    jsRoutes.controllers.User.setUserCurrentRoom(seq,myInfo.id)
                ).done(function(data){
                    console.log(data);
                }).fail(function(e){
                    console.log(e);
                });
            }
            $.setPlayersProfile = function(seq){
                $.ajax(
                    jsRoutes.controllers.Room.getPlayersProfile(seq,myInfo.id)
                ).done(function(data){
                    console.log(data);
                    $("#game_player_profile").append(data);
                }).fail(function(e){
                    console.log(e);
                });
            }

            $.setProfile = function() {
                $.ajax(
                    jsRoutes.controllers.User.getUserProfile(myInfo.id)
                ).done(function(data){
                    console.log(data);
                $('#display_progress .progress-bar' ).css('width','70%');
                    $('#my_profile' ).append(data);
                    $('#profile_main' ).fadeIn();
                }).fail(function(e){
                    console.log(e);
                });

            //$('#my_profile' ).append('<div class="span4"><img src="'+myProfile_url+'" /></div><div class="span8"><h5>'+myInfo.name+'</h5>Win : '+myInfo.win+'</div>');

            }
            });

            }

            @if(user != null && room == null){

            }


        </script>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.Application.index()">FACEBOOK REMOTE VOLLEY BALL</a>
                </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                            <li class="text-center">
                                <fb:login-button scope="public_profile,email,user_friends,manage_friendlists" size="large" max_rows="1" onlogin="checkLoginState();" id="fbBtn">
                                </fb:login-button>
                                <span class="label label-success" id="login_status_msg"></span>
                                <form action="@routes.Application.chatRoom(None)" class="pull-right" id="form1" style="display: none;">
                                    <input id="token" name="token" class="input-small" type="text" placeholder="Username">
                                    <button class="btn" type="submit">Sign in</button>
                                </form>
                            </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
        @if(room == null && user == null){
            <div class="row" id="display_progress">
                <div class="progress progress-striped active">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                        <span class="sr-only">Loading..</span>
                    </div>
                </div>
                <div class="alert alert-danger fade in div-msg" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <p id="msg"></p>
                </div>
            </div>
        }
            <div class="row" id="display_room">
                @content
            </div>

            <footer>
                <p>
                    Copyright <a href="http://www.izectlab.com">www.izectlab.com</a> All right reserved <br/>
                    Developed by Team NGX in CAUCSE
                </p>
            </footer>

        </div>


    </body>
</html>
