@(user:User)
<div class="col-xs-6 col-md-1">
    <div class="thumbnail">
        <img src="@user.pic_url" width="50" height="50" />
        <div class="caption">
            <h5>@user.name</h5>
            <p>@if(user.current_location == 0){
                <button type="button" class="btn btn-default btn-xs disabled" data-user-seq="@user.seq">Offline</button>
            }
                @if(user.current_location == 1){
                    <button type="button" class="btn btn-warning btn-join btn-xs" data-user-seq="@user.seq">Invite</button>
                }
                @if(user.current_location > 1){
                    <button type="button" class="btn btn-info btn-xs disableds" data-user-seq="@user.seq">Playing</button>
                }</p>
        </div>
    </div>
</div>

